<% if user_signed_in? %>
<div class="blue-background">
  <div class="jumbotron background-tint user-info text-center" >
    <div class="container">
      <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
    </div>
  </div>

  <div class="row">
    <div class="container list-unstyled">
      <h1 class="text-center">Posts(<%= @feed_items.count %>)</h1>
      <%= render 'shared/feed' %>
      <%= render 'shared/posts' %>
    </div>
  </div>
</div>
<% else %>

  <div class="jumbotron home-page background-tint ">

    <div class="container">

      <%= image_tag "OBLOGO.png" %>
      <h1>Welcome to odin-book</h1>
      <p>
        It's just like facebook but with no users, less features and zero user-support!
      </p>

      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-default btn-lg" %>
      <%= link_to 'Sign in with Facebook', user_facebook_omniauth_authorize_path, class: "btn btn-default btn-lg" %>

      <p id="version">Version 1.0.0</p>

    </div>
  </div>
  </div>
<% end %>
