<% if user_signed_in? %>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="panel user-info">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </div>

    </div>

    <div class="col-lg-9">
      <div class="panel">
        <h1 class="heading-panel">Latest Posts (<%= @feed_items.count %>)</h1>
      </div>
      <div class="list-unstyled">
        <%= render 'shared/feed'%>
      </div>
    </div>
  </div>
</div>
<%= render 'users/follow_form' if user_signed_in? %>

<% else %>

<div class="jumbotron home-page">
  <div class="container">
    <%= image_tag "OBLOGO.png" %>
    <h1>Welcome to odin-book</h1>
    <p>
      It's just like facebook but with no users, less features and zero user-support!
    </p>
    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-default btn-lg" %>
    <p>
      have an account? <%= link_to 'Sign in', new_user_session_path %>
    </p>
    <p id="version">Version 1.0.0</p>
  </div>
</div>

<div class='featurette'>
  <div class="container text-center">
    <div class="row">
      <h1 class='lead-heading'>
        Designed for no one, no where!
      </h1>
      <p class='sub-heading'>
        This app is a watered down version of facebook.  Its ment for training purposes only! If you like it, then great! If not well.. that's great too!
      </p>
      <hr class='half-rule'>
    </div>
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="panel-info col-md-4 col-xs-12">
        <%= image_tag "oauth.png" %>
        <h3>Authentication</h3>
        <p>This site is secured using the <%= link_to 'devise', 'https://github.com/plataformatec/devise' %> gem as well as <%= link_to 'oauth', 'https://github.com/pelle/oauth' %> for facebook authentication.  Create an account and you'll be able to make posts, view and follow other users and comment on their posts!</p>
      </div>
      <div class="panel-info col-md-4 col-xs-12">
        <%= image_tag "rails.png" %>
        <h3>Ruby on Rails</h3>
        <p>Rails is the framework of choice for this masterful piece of art!  I showcase the many facets of the MVC design pattern as well as basic CRUD commands such as creating, reading, updating and destroying posts, users and comments.</p>
      </div>
      <div class="panel-info col-md-4 col-xs-12">
        <%= image_tag "bootstrap.png" %>
        <h3>Bootstrap</h3>
        <p>Styled with the popular boostrap framework and grid system, designing the site was a cinch.  The site highlights the many componants available in bootstrap including buttons, dropdowns and more!</p>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <hr class='half-rule'>
      <p class="sub-heading">There is only one Odin-book and this is it.  The Odiniest and the bookiest.</p>
      <button class="btn btn-default btn-lg">
        <%= link_to 'View on Github', 'https://github.com/slowmanchan/odin-facebook'%>
      </button>
    </div>
  </div>
</div>

<div class="featurette text-center">
  <div class="container text-center">
    <div class="row">

      <h1 class="lead-heading">Powered by Ruby on Rails</h1>
      <p class="sub-heading">Just like many other popular sites out there</p>
      <hr class="half-rule">
    </div>
    <div class="container-fluid">
      <div class="row">

        <ul class="list-unstyled image-carousel">
          <li class="carousel"><%= image_tag "shopify.jpg" %></li>
          <li class="carousel"><%= image_tag "groupon.jpg" %></li>
          <li class="carousel"><%= image_tag "airbnb.jpg" %></li>
          <li class="carousel"><%= image_tag "github.jpg" %></li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="half-rule">
  <div class="container">
    <div class="row">
      <p class="sub-heading">I own none of these projects, but they are amazing</p>
      <button class="btn btn-default btn-lg">
        <%= link_to "Nothing" %>
      </button>
    </div>
  </div>
</div>
<% end %>
