<% if user_signed_in? %>
  <%= render 'shared/user_info' %>
  <%= render 'shared/stats' %>
  <%= render 'shared/posts' %>
  <h1>Posts(<%= @feed_items.count %>)</h1>
  <%= render 'shared/feed' %>

<% else %>
  <h1>Welcome to odin-facebook</h1>
  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Sign in with Facebook', user_facebook_omniauth_authorize_path %>
<% end %>
