<% if user_signed_in? %>
  <%= render 'shared/user_info' %>
  <%= render 'shared/stats' %>
  <%= render 'shared/posts' %>
  <h1>Posts(<%= @feed_items.count %>)</h1>
  <%= render 'shared/feed' %>

<% else %>

  <div class="jumbotron background-tint">
    <div class="container">

      <%= image_tag "OBLOGO.png" %>
      <h1>Welcome to odin-book</h1>
      <p>
        It's just like facebook but with no users, less features and zero user-support!
      </p>

      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-default btn-lg" %>
      <%= link_to 'Sign in with Facebook', user_facebook_omniauth_authorize_path, class: "btn btn-default btn-lg" %>

      <p>Version 1.0.0</p>

    </div>

  </div>
<% end %>
