<% provide(:title, @title) %>
  <%= gravatar_for @user %>
  <h1><%= @user.name %></h1>
  <%= link_to "view my profile", @user %>
  <b>Posts:</b> <%= @user.posts.count %>

  <%= render 'shared/stats' %>
  <% if @users.any? %>
    <% @users.each do |user| %>
      <%= link_to gravatar_for(user), user %>
    <% end %>
  <% end %>

<h3><%= @title %></h3>
<% if @users.any? %>
  <%= render @users %>
  <%= will_paginate %>
<% end %>
