<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="panel text-center">
        <%= render 'shared/user_info' %>
        <p>
          <%= link_to "view my profile", @user %>
        </p>
        <b>Posts:</b> <%= @user.posts.count %>
        <%= render 'shared/stats' %>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="panel">
        <div class="panel-heading">Following</div>
      </div>
      <div class="panel">
        <div class="panel-body">
          <% if @users.any? %>
          <% @users.each do |user| %>
          <%= link_to gravatar_for(user), user %>
          <% end %>
          <% end %>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">Followers</div>
      </div>
      <% if @users.any? %>
      <%= render @users %>
      <%= will_paginate %>
      <% end %>

    </div>
  </div>
</div>
</div>
