<h2><%= @post.content %></h2>
<%= link_to @post.user.email, @post.user %>

<% if liking? %>
  <%= render 'likings/unlike_form' %>
<% else %>
  <%= render 'likings/like_form' %>
<% end %>


Likes: <%= @post.likings.count %>
<%= render 'shared/comments_form' %>

<h1>Comments(<%= @post.comments.count %>)</h1>
<%= render 'shared/feed' %>
