<footer class="site-footer">
  <div class="container">
    <div class="row">
      <!-- github star button. -->

      <a aria-label="Star slowmanchan/odin-facebook on GitHub" data-count-aria-label="# stargazers on GitHub" data-count-api="/repos/slowmanchan/odin-facebook#stargazers_count" data-count-href="/slowmanchan/odin-facebook/stargazers"  data-icon="octicon-star" href="https://github.com/slowmanchan/odin-facebook" class="github-button">Star</a>
      <!-- github fork button. -->
      <a aria-label="Fork slowmanchan/odin-facebook on GitHub" data-count-aria-label="# forks on GitHub" data-count-api="/repos/slowmanchan/odin-facebook#forks_count" data-count-href="/slowmanchan/odin-facebook/network" data-icon="octicon-repo-forked" href="https://github.com/slowmanchan/odin-facebook/fork" class="github-button">Fork</a>
      <!-- github follow button -->
      <a aria-label="Follow @slowmanchan on GitHub" data-count-aria-label="# followers on GitHub" data-count-api="/users/slowmanchan#followers" data-count-href="/slowmanchan/followers"  href="https://github.com/slowmanchan" class="github-button">Follow @slowmanchan</a>
    </div>
    <div class="row">
      <div class="site-descript">
        <p>Designed, Built and Maintained by <%= link_to 'Norman Chan' %>
        Powered by Ruby on Rails and Bootstrap</p>
      </div>
    </div>

    <div class="row">
      <div class="footer-nav">
        <div class="container-fluid">
        <p>
          Currently v1.0.0 -
          <%= link_to 'Github' %> -
          <%= link_to 'About', about_path %> -
          <%= link_to 'Issues' %> -
          <%= link_to 'Releases' %>
        </p>
      </div>
      </div>
    </div>

  </div>
</footer>
